# Ignore virtual environment directories
epos/bin
epos/lib
epos/lib64

# Ignore PyCharm configuration file
epos/pyenv.cfg
epos/pyvenv.cfg

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore Django-specific files
*.log
*.pot
*.sqlite3

# Ignore media and static directories (optional, depends on your use case)
media/
static/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE-specific files (optional, depending on the IDE)
.idea/
.vscode/